




<ion-content>

        <div class="bigpic">
            <img src="images/pic%20(1).jpg">
        </div>
        <ul class="clear">
            <li class="minpic">
                <img src="images/pic%20(3).jpg">
            </li>
            <li class="minpic minpic-spe" >
                <img src="images/pic%20(4).jpg">
            </li>
            <li class="minpic">
                <img src="images/pic%20(5).jpg">
            </li>
        </ul>


            <div class="bigpic">
                <img src="images/pic%20(2).jpg">
            </div>
            <ul class="clear">
                <li class="minpic">
                    <img src="images/pic (5).jpg">
                </li>
                <li class="minpic minpic-spe" >
                    <img src="images/pic%20(7).jpg">
                </li>
                <li class="minpic">
                    <img src="images/pic%20(6).jpg">
                </li>
            </ul>

        <div class="bigpic">
            <img src="images/pic%20(8).jpg">
        </div>
        <ul class="clear">
            <li class="minpic">
                <img src="images/pic (9).jpg">
            </li>
            <li class="minpic minpic-spe" >
                <img src="images/pic%20(10).jpg">
            </li>
            <li class="minpic">
                <img src="images/pic%20(11).jpg">
            </li>
        </ul>

        <div class="bigpic">
            <img src="images/pic%20(12).jpg">
        </div>
        <ul class="clear">
            <li class="minpic">
                <img src="images/pic (13).jpg">
            </li>
            <li class="minpic minpic-spe" >
                <img src="images/pic%20(14).jpg">
            </li>
            <li class="minpic">
                <img src="images/pic%20(15).jpg">
            </li>
        </ul>

        <div class="bigpic">
            <img src="images/pic%20(16).jpg">
        </div>
        <ul class="clear">
            <li class="minpic">
                <img src="images/pic (17).jpg">
            </li>
            <li class="minpic minpic-spe" >
                <img src="images/pic%20(18).jpg">
            </li>
            <li class="minpic">
                <img src="images/pic%20(19).jpg">
            </li>
        </ul>

        <div class="bigpic">
            <img src="images/pic%20(20).jpg">
        </div>
        <ul class="clear">
            <li class="minpic">
                <img src="images/pic (21).jpg">
            </li>
            <li class="minpic minpic-spe" >
                <img src="images/pic%20(22).jpg">
            </li>
            <li class="minpic">
                <img src="images/pic%20(23).jpg">
            </li>
        </ul>

        <div class="bigpic">
            <img src="images/pic%20(24).jpg">
        </div>
        <ul class="clear">
            <li class="minpic">
                <img src="images/pic (25).jpg">
            </li>
            <li class="minpic minpic-spe" >
                <img src="images/pic%20(26).jpg">
            </li>
            <li class="minpic">
                <img src="images/pic%20(27).jpg">
            </li>
        </ul>

        <div class="bigpic">
            <img src="images/pic%20(28).jpg">
        </div>
        <ul class="clear">
            <li class="minpic">
                <img src="images/pic (29).jpg">
            </li>
            <li class="minpic minpic-spe" >
                <img src="images/pic%20(30).jpg">
            </li>
            <li class="minpic">
                <img src="images/pic%20(31).jpg">
            </li>
        </ul>

        <div class="bigpic">
            <img src="images/pic%20(32).jpg">
        </div>
        <ul class="clear">
            <li class="minpic">
                <img src="images/pic (33).jpg">
            </li>
            <li class="minpic minpic-spe" >
                <img src="images/pic%20(34).jpg">
            </li>
            <li class="minpic">
                <img src="images/pic%20(35).jpg">
            </li>
        </ul>

        <div class="bigpic">
            <img src="images/pic%20(36).jpg">
        </div>
        <ul class="clear">
            <li class="minpic">
                <img src="images/pic (37).jpg">
            </li>
            <li class="minpic minpic-spe" >
                <img src="images/pic%20(38).jpg">
            </li>
            <li class="minpic">
                <img src="images/pic%20(39).jpg">
            </li>
        </ul>


    </ion-content>
