
<ion-tabs class="tabs-icon-top" style="border-top: none" >
    <ion-tab title="首页" icon-off="icon ion-ios-home-outline " icon-on="icon ion-ios-home balanced " ui-sref="tabs.home" >
        <ion-nav-view name="home" nav-direction="back"></ion-nav-view>

    </ion-tab>
    <ion-tab title="跟团" icon-off="icon ion-ios-people-outline " icon-on="icon ion-ios-people balanced " ui-sref="tabs.together">
        <ion-nav-view name="together" nav-direction="back"></ion-nav-view>
    </ion-tab>
    <ion-tab title="定制" icon-off="icon ion-ios-compose-outline " icon-on="icon ion-ios-compose balanced" ui-sref="tabs.reservation">
        <ion-nav-view name="reservation" nav-direction="back"></ion-nav-view>
    </ion-tab>
    <ion-tab title="自由行" icon-off="icon ion-map " icon-on="icon ion-map balanced " ui-sref="tabs.free">
        <ion-nav-view name="free" nav-direction="back"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我的" icon-off="icon ion-person "  icon-on="icon ion-person balanced " ui-sref="tabs.mine">
        <ion-nav-view name="mine" nav-direction="back"></ion-nav-view>
    </ion-tab>
</ion-tabs>