<ion-view>
<ion-content>

    <div class="list card">
        <div class="item item-image">
            <img src="images/pic (42).jpg">
        </div>
        <div class="item">
            <ul class="row">
                <li class="col col-25" style="text-align: center" ui-sref="tabs.comment2" nav-direction="forward">
                    <i class="change " style="background-position: 0 -178px"></i>
                    <a >精品</a>
                </li>
                <li class="col col-25" style="text-align: center" ui-sref="tabs.comment2" nav-direction="forward">
                    <i class="change " style="background-position: -49px -178px"></i>
                    <a >自由行套餐</a>
                </li>
                <li class="col col-25" style="text-align: center" ui-sref="tabs.comment2" nav-direction="forward">
                    <i class="change " style="background-position: -96px -178px"></i>
                    <a >玩乐/门票</a>
                </li>
                <li class="col col-25" style="text-align: center" ui-sref="tabs.comment2" nav-direction="forward">
                    <i class="change " style="background-position: 0 -226px"></i>
                    <a >签证</a>
                </li>
            </ul>
            <ul class="row" >
                <li class="col col-25" style="text-align: center" ui-sref="tabs.comment2" nav-direction="forward">
                    <i class="change " style="background-position: -49px -226px"></i>
                    <a >酒店</a>
                </li>
                <li class="col col-25" style="text-align: center" ui-sref="tabs.comment2" nav-direction="forward">
                    <i class="change " style="background-position: -96px -226px"></i>
                    <a >租车</a>
                </li>
                <li class="col col-25" style="text-align: center" ui-sref="tabs.comment2" nav-direction="forward">
                    <i class="change " style="background-position: 0 -274px"></i>
                    <a >机票</a>
                </li>
                <li class="col col-25" style="text-align: center" ui-sref="tabs.comment2" nav-direction="forward">
                    <i class="change " style="background-position: -96px -274px"></i>
                    <a >电话卡/wifi</a>
                </li>


            </ul>




        </div>


    </div>
    <div class="list card">
    <div class="item item-image padding padding-horizontal">
        <img src="images/item0.jpg"  >
        <ul class="row">
            <li class="col col-33">
                <i class="item_tag"><img src="images/mibg1.png/"></i>
                <a>自驾领航</a>
            </li>
            <li class="col col-33">
                <i class="item_tag"><img src="images/mibg2.png/"></i>
                <a>木屋酒店</a>
            </li>
            <li class="col col-33">
                <i class="item_tag"><img src="images/mibg3.png/"></i>
                <a>大型SUV</a>
            </li>

        </ul>
        <ul class="row">
            <li class="col col-33">
                <i class="item_tag"><img src="images/mibg4.png/"></i>
                <a>影视拍摄地</a>
            </li>
            <li class="col col-33">
                <i class="item_tag"><img src="images/mibg5.png/"></i>
                <a>最美观星地</a>
            </li>
            <li class="col col-33">
                <i class="item_tag"><img src="images/mibg6.png/"></i>
                <a>观鲸鱼</a>
            </li>

        </ul>
        <p><span class="energized">￥19200</span>/人起</p>
        <h3 class="bot_tit">12天10晚</h3>
    </div>


</div>

    <div class="list card">
        <div class="item item-image padding padding-horizontal">
            <img src="images/item1.jpg"  >
            <ul class="row">
                <li class="col col-33">
                    <i class="item_tag"><img src="images/mibg1.png/"></i>
                    <a>自驾领航</a>
                </li>
                <li class="col col-33">
                    <i class="item_tag"><img src="images/mibg2.png/"></i>
                    <a>木屋酒店</a>
                </li>
                <li class="col col-33">
                    <i class="item_tag"><img src="images/mibg3.png/"></i>
                    <a>大型SUV</a>
                </li>

            </ul>
            <ul class="row">
                <li class="col col-33">
                    <i class="item_tag"><img src="images/mibg4.png/"></i>
                    <a>影视拍摄地</a>
                </li>
                <li class="col col-33">
                    <i class="item_tag"><img src="images/mibg5.png/"></i>
                    <a>最美观星地</a>
                </li>
                <li class="col col-33">
                    <i class="item_tag"><img src="images/mibg6.png/"></i>
                    <a>观鲸鱼</a>
                </li>

            </ul>
            <p><span class="energized">￥19200</span>/人起</p>
            <h3 class="bot_tit">12天10晚</h3>
        </div>


    </div>
    <div class="list card">
        <div class="item item-image padding padding-horizontal">
            <img src="images/item2.jpg"  >
            <ul class="row">
                <li class="col col-33">
                    <i class="item_tag"><img src="images/mibg1.png/"></i>
                    <a>自驾领航</a>
                </li>
                <li class="col col-33">
                    <i class="item_tag"><img src="images/mibg2.png/"></i>
                    <a>木屋酒店</a>
                </li>
                <li class="col col-33">
                    <i class="item_tag"><img src="images/mibg3.png/"></i>
                    <a>大型SUV</a>
                </li>

            </ul>
            <ul class="row">
                <li class="col col-33">
                    <i class="item_tag"><img src="images/mibg4.png/"></i>
                    <a>影视拍摄地</a>
                </li>
                <li class="col col-33">
                    <i class="item_tag"><img src="images/mibg5.png/"></i>
                    <a>最美观星地</a>
                </li>
                <li class="col col-33">
                    <i class="item_tag"><img src="images/mibg6.png/"></i>
                    <a>观鲸鱼</a>
                </li>

            </ul>
            <p><span class="energized">￥19200</span>/人起</p>
            <h3 class="bot_tit">12天10晚</h3>
        </div>


    </div>
    <div class="list card">
        <div class="item item-image padding padding-horizontal">
            <img src="images/item4.jpg"  >
            <ul class="row">
                <li class="col col-33">
                    <i class="item_tag"><img src="images/mibg1.png/"></i>
                    <a>自驾领航</a>
                </li>
                <li class="col col-33">
                    <i class="item_tag"><img src="images/mibg2.png/"></i>
                    <a>木屋酒店</a>
                </li>
                <li class="col col-33">
                    <i class="item_tag"><img src="images/mibg3.png/"></i>
                    <a>大型SUV</a>
                </li>

            </ul>
            <ul class="row">
                <li class="col col-33">
                    <i class="item_tag"><img src="images/mibg4.png/"></i>
                    <a>影视拍摄地</a>
                </li>
                <li class="col col-33">
                    <i class="item_tag"><img src="images/mibg5.png/"></i>
                    <a>最美观星地</a>
                </li>
                <li class="col col-33">
                    <i class="item_tag"><img src="images/mibg6.png/"></i>
                    <a>观鲸鱼</a>
                </li>

            </ul>
            <p><span class="energized">￥19200</span>/人起</p>
            <h3 class="bot_tit">12天10晚</h3>
        </div>


    </div>
    <div class="list card">
        <div class="item item-image padding padding-horizontal">
            <img src="images/item5.jpg"  >
            <ul class="row">
                <li class="col col-33">
                    <i class="item_tag"><img src="images/mibg1.png/"></i>
                    <a>自驾领航</a>
                </li>
                <li class="col col-33">
                    <i class="item_tag"><img src="images/mibg2.png/"></i>
                    <a>木屋酒店</a>
                </li>
                <li class="col col-33">
                    <i class="item_tag"><img src="images/mibg3.png/"></i>
                    <a>大型SUV</a>
                </li>

            </ul>
            <ul class="row">
                <li class="col col-33">
                    <i class="item_tag"><img src="images/mibg4.png/"></i>
                    <a>影视拍摄地</a>
                </li>
                <li class="col col-33">
                    <i class="item_tag"><img src="images/mibg5.png/"></i>
                    <a>最美观星地</a>
                </li>
                <li class="col col-33">
                    <i class="item_tag"><img src="images/mibg6.png/"></i>
                    <a>观鲸鱼</a>
                </li>

            </ul>
            <p><span class="energized">￥19200</span>/人起</p>
            <h3 class="bot_tit">12天10晚</h3>
        </div>


    </div>










</ion-content>
</ion-view>
