<ion-content>
<div class="list card">
    <div class="item item-image">
        <img src="images/me-banner.jpg">
        <div class="min_pic"></div>
        <div class="min_btn">
            <button class="button balanced-bg" ng-click="showPopup()">登录</button>
            <button class="button balanced-bg" ng-click="showPopup()">注册</button>
        </div>
        <i class="icon ion-ios-gear set_btn" ui-sref="gear"></i>
    </div>

</div>
    <div class="list">
    <div class="item">
        <ul class="row" style="text-align: center">
            <li class="col col-25">
                <i class="min_btn2" style="background-position: 0 -25px;">
                </i>
                <a>全部订单</a>
            </li>
            <li class="col col-25">
                <i class="min_btn2" style="background-position: -30px -25px;">
                </i>
                <a>优惠券</a>
            </li>
            <li class="col col-25">
                <i class="min_btn2" style="background-position: -60px -25px;">
                </i>
                <a>我的红包</a>
            </li>
            <li class="col col-25">
                <i class="min_btn2" style="background-position: -90px -25px;">
                </i>
                <a>联系客服</a>
            </li>

        </ul>


    </div>
        <div class="item">
            <ul class="row" style="text-align: center">
                <li class="col col-33 ">
                    <i class="min_bigbtn" style="background-position: -118px -25px;"></i>
                    <a>我的定制行程</a>
                </li>
                <li class="col col-34 min_cli">
                    <i class="min_bigbtn"  style="background-position: -148px -25px;"></i>
                    <a>我的收藏</a>
                </li>
                <li class="col col-33 ">
                    <i class="min_bigbtn" style="background-position: -177px -25px;"></i>
                    <a>关于我们</a>
                </li>


            </ul>


        </div>




    </div>



</ion-content>
