<div class="list re_bg">
<div class="input_tit" >


</div>



    <label class="item item-input item-stacked-label">
        <span class="input-label">您的姓名</span>
        <input type="text" >
    </label>
    <label class="item item-input item-stacked-label">
        <span class="input-label">您的联系电话</span>
        <input type="text" >
    </label>
    <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" >
    </label>
    <label class="item item-input item-select">
        <div class="input-label">
            向往目的地
        </div>
        <select>
            <option>澳洲</option>
            <option selected>北美洲</option>
            <option >南美洲</option>
            <option>亚洲</option>
            <option>大洋洲</option>

        </select>
    </label>
    <label class="item item-input item-select">
        <div class="input-label">
            计划出行月份
        </div>
        <select>
            <option>1月</option>
            <option selected>2月</option>
            <option >3月</option>
            <option>4月</option>
            <option>5月</option>
            <option>6月</option>
            <option>7月</option>
            <option>8月</option>
            <option>9月</option>
            <option>10月</option>
            <option>11月</option>
            <option>12月</option>

        </select>
    </label>
    <label class="item item-input item-select">
        <div class="input-label">
            出行人数
        </div>
        <select>
            <option>1人</option>
            <option>2人</option>
            <option>3人</option>
            <option>4人</option>
            <option>5人</option>
            <option>5人以上</option>

        </select>
    </label>
    <button class="button  button-light button-block submit_button" ng-click="showAlert()" >提交出行计划</button>
    <button class="button  button-light button-block submit_button" ui-sref="tabs.reservation" nav-direction="forward">我再想想</button>




</div>