


    <ion-content>
        <ion-slide-box auto-play="true" does-continue="true">
            <ion-slide>
                <img src="images/tab (1).jpg"/>
            </ion-slide>
            <ion-slide>
                <img src="images/tab (2).jpg"/>
            </ion-slide>
            <ion-slide>
                <img src="images/tab (3).jpg"/>
            </ion-slide>
            <ion-slide>
                <img src="images/tab (5).jpg"/>
            </ion-slide>
            <ion-slide>
                <img src="images/tab (6).jpg"/>
            </ion-slide>
        </ion-slide-box>
        <ul class="row">
            <li class="col col-25 to-btn " ><i class="to-btn1" style="background-position: -98px -90px; "  ui-sref="tabs.comment" nav-direction="forward"></i>欧洲参团</li>
            <li class="col col-25 to-btn "><i class="to-btn2" style="background-position: -135px -90px; " ui-sref="tabs.comment"  nav-direction="forward"></i>美洲参团</li>
            <li class="col col-25 to-btn "><i class="to-btn3" style="background-position: -98px -127px; " ui-sref="tabs.comment"  nav-direction="forward"></i>亚洲参团</li>
            <li class="col col-25 to-btn "><i class="to-btn4" style="background-position: -135px -127px; " ui-sref="tabs.comment"  nav-direction="forward"></i>澳新参团</li>

        </ul>
        <div class="list card">
            <div class="toge_title">
                <span class="weeknow">本周</span>
                <span class="special">特卖<i class="tri-icon"></i></span>
                <i class="tit_line"></i>
                <p class="toge_text">性价比最高的出行方式</p>
            </div>
            <div class="item item-image">
                <img src="images/list (1).jpg">
            </div>
            <div class="item">
                <h5>6日[畅玩]纽约、费城、华盛顿、尼亚加拉瀑布、波士顿超值游</h5>
                <p style="text-decoration: line-through">原价 ¥1397.9</p>
                <span>省 ¥0</span>


            </div>
            <div class="item">
                <i class="badge badge-assertive symbal">免费接送机</i>
                <i class="badge badge-assertive symbal">买二送一</i>
                <i class="badge badge-assertive pricetag">￥1397.9/人</i>

            </div>

        </div>
        <div class="list card">

            <div class="item item-image">
                <img src="images/list (2).jpg">
            </div>
            <div class="item">
                <h5>6日[畅玩]纽约、费城、华盛顿、尼亚加拉瀑布、波士顿超值游</h5>
                <p style="text-decoration: line-through">原价 ¥1397.9</p>
                <span>省 ¥0</span>


            </div>
            <div class="item">
                <i class="badge badge-assertive symbal">免费接送机</i>
                <i class="badge badge-assertive symbal">买二送一</i>
                <i class="badge badge-assertive pricetag">￥1397.9/人</i>

            </div>

        </div>
        <div class="list card">

            <div class="item item-image">
                <img src="images/list (8).jpg">
            </div>
            <div class="item">
                <h5>6日[畅玩]纽约、费城、华盛顿、尼亚加拉瀑布、波士顿超值游</h5>
                <p style="text-decoration: line-through">原价 ¥1397.9</p>
                <span>省 ¥0</span>


            </div>
            <div class="item">
                <i class="badge badge-assertive symbal">免费接送机</i>
                <i class="badge badge-assertive symbal">买二送一</i>
                <i class="badge badge-assertive pricetag">￥1397.9/人</i>

            </div>

        </div>
        <div class="list card">

            <div class="item item-image">
                <img src="images/list (9).jpg">
            </div>
            <div class="item">
                <h5>6日[畅玩]纽约、费城、华盛顿、尼亚加拉瀑布、波士顿超值游</h5>
                <p style="text-decoration: line-through">原价 ¥1397.9</p>
                <span>省 ¥0</span>


            </div>
            <div class="item">
                <i class="badge badge-assertive symbal">免费接送机</i>
                <i class="badge badge-assertive symbal">买二送一</i>
                <i class="badge badge-assertive pricetag">￥1397.9/人</i>

            </div>

        </div>
        <div class="list card">

            <div class="item item-image">
                <img src="images/list (1).jpg">
            </div>
            <div class="item">
                <h5>6日[畅玩]纽约、费城、华盛顿、尼亚加拉瀑布、波士顿超值游</h5>
                <p style="text-decoration: line-through">原价 ¥1397.9</p>
                <span>省 ¥0</span>


            </div>
            <div class="item">
                <i class="badge badge-assertive symbal">免费接送机</i>
                <i class="badge badge-assertive symbal">买二送一</i>
                <i class="badge badge-assertive pricetag">￥1397.9/人</i>

            </div>

        </div>
        <div class="list card">

            <div class="item item-image">
                <img src="images/list (2).jpg">
            </div>
            <div class="item">
                <h5>6日[畅玩]纽约、费城、华盛顿、尼亚加拉瀑布、波士顿超值游</h5>
                <p style="text-decoration: line-through">原价 ¥1397.9</p>
                <span>省 ¥0</span>


            </div>
            <div class="item">
                <i class="badge badge-assertive symbal">免费接送机</i>
                <i class="badge badge-assertive symbal">买二送一</i>
                <i class="badge badge-assertive pricetag">￥1397.9/人</i>

            </div>

        </div>













    </ion-content>




