<ion-view title="设置">
<ion-nav-bar class="bar-balanced">
    <ion-nav-buttons side="left">
        <button class="button-icon ion-ios-arrow-left light" ui-sref="tabs.mine"></button>
    </ion-nav-buttons>
</ion-nav-bar>

<ion-content>
<ul class="list">
    <li class="item item-divider">
        通用
    </li>

    <li class="item item-toggle">
        自动加载图片
        <label class="toggle toggle-balanced">
            <input type="checkbox">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </li>
    <li class="item item-toggle">
        夜间模式
        <label class="toggle toggle-balanced">
            <input type="checkbox">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </li>
    <li class="item item-toggle">
        推送消息
        <label class="toggle toggle-balanced">
            <input type="checkbox">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </li>
    <li class="item item-toggle">
        开启震动
        <label class="toggle toggle-balanced">
            <input type="checkbox">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </li>

    <li class="item item-checkbox-right">
       <span>开启4g模式</span>
        <label class="checkbox checkbox-balanced" style="display: inline;padding: 0">
            <input type="checkbox">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </li>
    <li class="item item-divider">
        支持
    </li>
    <li class="item item-icon-right">
        关于
        <i class="icon ion-ios-arrow-right"></i>
    </li>
    <li class="item item-icon-right">
        版本更新
        <i class="icon ion-ios-arrow-right"></i>
    </li>
    <li class="item item-icon-right">
        意见反馈
        <i class="icon ion-ios-arrow-right"></i>
    </li>



</ul>
</ion-content>
</ion-view>