
<div class="re_btn" ui-sref="input" nav-direction="back">
    <p>定制行程</p>
</div>
<ion-content>

    <div class="list card">
        <div class="item item-image" style="height: 180px">
            <img src="images/list (3).jpg">
            <span class="re_title">最精彩自驾线路</span>
            <span class="re_time">美国，14天13晚</span>
            <span class="desc">全尺寸SUV·雪佛兰surburban·全程租车自驾，不走回头路</span>

        </div>
        <div class="item item-image" style="height: 180px">
            <img src="images/list (4).jpg">
            <span class="re_title">上天入地，佳酿美食，私享澳大利亚</span>
            <span class="re_time">澳大利亚，10天9晚</span>
            <span class="desc">海景阳台酒庄，日出热气球，水上直升机俯瞰心形礁</span>
        </div>
        <div class="item item-image" style="height: 180px">
            <img src="images/list (5).jpg">
            <span class="re_title">纯爱圣地，年轻人的雪国浪漫</span>
            <span class="re_time">日本，6天5晚</span>
            <span class="desc">《非诚勿扰》主题线路，五星度假村+温泉+滑雪</span>
        </div>
        <div class="item item-image" style="height: 180px">
            <img src="images/list (6).jpg">
            <span class="re_title">一价全包，全家人乐享与人不同的普吉岛</span>
            <span class="re_time">普吉，5天4晚</span>
            <span class="desc">五星地中海集团普吉度假村一价全包+出海浮潜一日游</span>
        </div>
        <div class="item item-image" style="height: 180px">
            <img src="images/list (7).jpg">
            <span class="re_title">魔戒仙境，自驾南北岛醇享醇美山川</span>
            <span class="re_time">新西兰，12天10晚</span>
            <span class="desc">国航直飞，双程自驾，优选五星豪华酒店</span>
        </div>
    </div>
    <ion-list>
        <ion-item class="item item-divider">
            <p>私家旅行顾问</p>
        </ion-item>
        <ion-item class="item item-avatar-left ">
            <img src="images/p_dengchao.png">
            <h2>dengchao
            <span class="badge badge-dark">旅行顾问</span></h2>
            <p>微信号：<span class="energized">12345678</span></p>
            <ion-option-button class="button-balanced">关注</ion-option-button>
        </ion-item>
        <ion-item class="item item-avatar-left">
            <img src="images/p_gurry.png">
            <h2>gurry
                <span class="badge badge-dark">旅行顾问</span></h2>
            <p>微信号：<span class="energized">12345678</span></p>
            <ion-option-button class="button-balanced">关注</ion-option-button>
        </ion-item>
        <ion-item class="item item-avatar-left">
            <img src="images/p_jill.png">
            <h2>jill
                <span class="badge badge-dark">旅行顾问</span></h2>
            <p>微信号：<span class="energized">12345678</span></p>
            <ion-option-button class="button-balanced">关注</ion-option-button>
        </ion-item>
        <ion-item class="item item-avatar-left">
            <img src="images/p_xiaoyu.png">
            <h2>xiaoyu
                <span class="badge badge-dark">旅行顾问</span></h2>
            <p>微信号：<span class="energized">12345678</span></p>
            <ion-option-button class="button-balanced">关注</ion-option-button>
        </ion-item>
    </ion-list>
</ion-content>

