
<ion-side-menus>
    <ion-side-menu-content>
        <ion-nav-bar class="bar-balanced">
           <ion-nav-buttons>
               <button class="button button-clear button-icon ion-ios-arrow-left" ui-sref="tabs.together"></button>
           </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-clear button-icon ion-navicon" menu-toggle="right" ></button>
            </ion-nav-buttons>

        </ion-nav-bar>

        <ion-content class="has-header">
            <ion-list>
                <ion-item class="item-thumbnail-left">
                    <img src="images/ion1.jpg">
                    <div class="upnum">
                        <i class="zan"></i>
                        <span class="num">222人想去</span>
                    </div>

                    <p style="max-height: 40px;width: 100%;white-space: normal">9日&lt;深度&gt;洛杉矶、旧金山、17哩湾、纳帕谷、黄石公园、羚羊峡谷、大峡谷东缘和南缘豪华游</p>
                    <p>出发地:</p>
                    <span class="assertive">￥3299.00</span>
                </ion-item>
                <ion-item class="item-thumbnail-left">
                    <img src="images/ion2.jpg">
                    <div class="upnum">
                        <i class="zan"></i>
                        <span class="num">222人想去</span>
                    </div>

                    <p style="max-height: 40px;width: 100%;white-space: normal">9日&lt;深度&gt;洛杉矶、旧金山、17哩湾、纳帕谷、黄石公园、羚羊峡谷、大峡谷东缘和南缘豪华游</p>
                    <p>出发地:</p>
                    <span class="assertive">￥3299.00</span>
                </ion-item>
                <ion-item class="item-thumbnail-left">
                    <img src="images/ion3.jpg">
                    <div class="upnum">
                        <i class="zan"></i>
                        <span class="num">222人想去</span>
                    </div>

                    <p style="max-height: 40px;width: 100%;white-space: normal">9日&lt;深度&gt;洛杉矶、旧金山、17哩湾、纳帕谷、黄石公园、羚羊峡谷、大峡谷东缘和南缘豪华游</p>
                    <p>出发地:</p>
                    <span class="assertive">￥3299.00</span>
                </ion-item>
                <ion-item class="item-thumbnail-left">
                    <img src="images/ion4.jpg">
                    <div class="upnum">
                        <i class="zan"></i>
                        <span class="num">222人想去</span>
                    </div>

                    <p style="max-height: 40px;width: 100%;white-space: normal">9日&lt;深度&gt;洛杉矶、旧金山、17哩湾、纳帕谷、黄石公园、羚羊峡谷、大峡谷东缘和南缘豪华游</p>
                    <p>出发地:</p>
                    <span class="assertive">￥3299.00</span>
                </ion-item>
                <ion-item class="item-thumbnail-left">
                    <img src="images/ion5.jpg">
                    <div class="upnum">
                        <i class="zan"></i>
                        <span class="num">222人想去</span>
                    </div>

                    <p style="max-height: 40px;width: 100%;white-space: normal">9日&lt;深度&gt;洛杉矶、旧金山、17哩湾、纳帕谷、黄石公园、羚羊峡谷、大峡谷东缘和南缘豪华游</p>
                    <p>出发地:</p>
                    <span class="assertive">￥3299.00</span>
                </ion-item>
                <ion-item class="item-thumbnail-left">
                    <img src="images/ion6.jpg">
                    <div class="upnum">
                        <i class="zan"></i>
                        <span class="num">222人想去</span>
                    </div>

                    <p style="max-height: 40px;width: 100%;white-space: normal">9日&lt;深度&gt;洛杉矶、旧金山、17哩湾、纳帕谷、黄石公园、羚羊峡谷、大峡谷东缘和南缘豪华游</p>
                    <p>出发地:</p>
                    <span class="assertive">￥3299.00</span>
                </ion-item>
                <ion-item class="item-thumbnail-left">
                    <img src="images/ion7.jpg">
                    <div class="upnum">
                        <i class="zan"></i>
                        <span class="num">222人想去</span>
                    </div>

                    <p style="max-height: 40px;width: 100%;white-space: normal">9日&lt;深度&gt;洛杉矶、旧金山、17哩湾、纳帕谷、黄石公园、羚羊峡谷、大峡谷东缘和南缘豪华游</p>
                    <p>出发地:</p>
                    <span class="assertive">￥3299.00</span>
                </ion-item>
                <ion-item class="item-thumbnail-left">
                    <img src="images/ion8.jpg">
                    <div class="upnum">
                        <i class="zan"></i>
                        <span class="num">222人想去</span>
                    </div>

                    <p style="max-height: 40px;width: 100%;white-space: normal">9日&lt;深度&gt;洛杉矶、旧金山、17哩湾、纳帕谷、黄石公园、羚羊峡谷、大峡谷东缘和南缘豪华游</p>
                    <p>出发地:</p>
                    <span class="assertive">￥3299.00</span>
                </ion-item>
            </ion-list>
        </ion-content>



    </ion-side-menu-content>
    <ion-side-menu side="right">

        <ion-list>
            <ion-item class="balanced-bg">
                <div class="logo"></div>
            </ion-item>
            <ion-item class="item-icon-right" style="line-height: 25px;">
                <i class="side_icon" style="background-position: 0 -44px;"></i>
                首页
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-icon-right" style="line-height: 25px;">
                <i class="side_icon" style="background-position: -87px -73px;"></i>
                我的优惠券
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-icon-right" style="line-height: 25px;">
                <i class="side_icon" style="background-position: -29px -44px;"></i>
                我的定制行程
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-icon-right" style="line-height: 25px;">
                <i class="side_icon" style="background-position: -58px -44px;"></i>
                我的收藏
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

            <ion-item class="item-icon-right" style="line-height: 25px;">
                <i class="side_icon" style="background-position: 0 -73px;"></i>
                电话客服
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-icon-right" style="line-height: 25px;">
                <i class="side_icon" style="background-position: -29px -73px;"></i>
                关于我趣
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

        </ion-list>


    </ion-side-menu>


</ion-side-menus>

